<div class="custom-link-listing">
  <ul>
    <li><a href="/table-grid"></a>Table grid</li>
    <li><a href="/datetime-dropdown">Datetime dropdown</a></li>
    <li><a href="/datetime-validation">Datetime validation</a></li>
    <li><a href="/multi-column-filter">Multi Column filter</a></li>
    <li><a href="/table-sort-filter">Table sort filter</a></li>
  </ul>
</div>


<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        <div class="custom-sort-filter">
          <div mat-sort-header>ID</div>
          <!-- <div>
            <input matInput (keyup)="applyFilter($event, 'id')" placeholder="Filter by Id" />
            <mat-icon>filter_list</mat-icon>
          </div> -->
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <div class="custom-sort-filter">
          <div mat-sort-header>Name</div>
          <div>
            <input matInput (keyup)="applyFilter($event, 'name')" placeholder="Filter by Name" />
            <mat-icon>filter_list</mat-icon>
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>
        <div class="custom-sort-filter">
          <div mat-sort-header>Age</div>
          <div>
            <input matInput (keyup)="applyFilter($event, 'age')" placeholder="Filter by Age" />
            <mat-icon>filter_list</mat-icon>
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        <div class="custom-sort-filter">
          <div mat-sort-header>Email</div>
          <div>
            <input matInput (keyup)="applyFilter($event, 'email')" placeholder="Filter by Email" />
            <mat-icon>filter_list</mat-icon>
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Table Footer -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>